@charset "UTF-8";
:root {
  /* base */
  --color-text: #333333;
  --color-white: #ffffff;
  --color-gray: #aaaaaa;
  --color-main: #00a0e9;
  --color-bg-base: #f5f5f5;
  --color-shadow: #00000029;
  --color-border: #cccccc;
  --color-accent: #f39800;
  --color-bg-muted: #cecebf;
  --color-bg-accent-light: #e7ecd5;
  --color-overlay-light: #ebece729;
  --color-bg-subtle: #ebece7;
  --color-text-muted: #707070;
}
/* foundation */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Meiryo", "Hiragino Kaku Gothic ProN", sans-serif;
  color: var(--color-text);
}

h1,
h2,
h3,
p,
ul,
ol,
figure {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

/* typography */
.t-caption-white {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color-white);
}

.t-section-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-text);
}

.t-section-title-main {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-main);
}

.t-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-white);
}

.t-lead-gray {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-gray);
}

.t-body-loose {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-text);
}

.t-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text);
}

.t-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text);
}

.t-small-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-main);
}

.t-label {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-text);
}

.t-label-loose {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-text);
}

.t-label-main {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: var(--color-main);
}

/* layout */
.l-inner {
  padding-inline: 16px;
}

.l-container {
}

/* Utility
--------------------------------*/
.visible-sp {
  display: none;
}

.visible-pc {
  display: block;
}

/* site-header
--------------------------------*/
.site-header__lead-text {
  background-color: var(--color-main);
  padding: 3px 0px 2px;
  padding-left: 300px;
}

/* SP */
@media screen and (max-width: 640px) {
  .visible-sp {
    display: block;
  }

  .visible-pc {
    display: none;
  }
}
